@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  background: rgb(6, 2, 2);
}
::-webkit-scrollbar-track {
  background: rgba(149, 149, 149, 0.233);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(1, 43, 92);
  width: 7px;
  border-radius: 10px;
}
