@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  background: rgb(6, 2, 2);
}
::-webkit-scrollbar-track {
  background: rgb(61, 59, 59);
   width: 15px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background:rgb(230, 130, 205);
  width: 15px;
  border-radius: 10px;
}
